#htop{
    background-color: rgb(202, 202, 202);
   
}
#flag{
    width: 16px;
    margin-right: 8px;
}
#down{
    width: 16px;
}
#lsection{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
   
}
#logo{
    width:42px ;
}
.nav{
    width: 24px;
}
#htop .container{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
}
#headercenter{
padding-top: 8px;
padding-bottom: 8px;
}
#headercenter .container{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
}
.hcsearch{
    display : flex;
    flex-direction : row;
    align-items : center;
    border: 1px solid gray;
    width: 600px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.hcsearch input{
border: none;
width: 100%;
}